@charset "utf-8";
@import 'theme-colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,400&display=swap');
html {
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--purple-color);
}

.section-title {
    font-size: 2rem;
    text-align: center;
    color: var(--blue-color);
    font-weight: 500;
}

.btn-primary {
    padding: 10px 30px;
    display: inline-block;
    border-radius: 40px;
    background-color: var(--orange-color);
    color: #fff;
    font-size: 1rem;
    transition-duration: var(--transition-duration);
    font-weight: 500;
    &:hover {
        background-color: var(--orange-hover);
    }
}

.btn-secondary {
    padding: 10px 30px;
    display: inline-block;
    border-radius: 40px;
    border: 1px solid var(--orange-color);
    color: var(--orange-color);
    background: var(--background-color);
    font-size: 1rem;
    transition-duration: var(--transition-duration);
}

// modal css
.modal-container {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    min-width: 700px;
    &-header {
        padding: 15px;
        background-color: var(--blue-color);
        color: #fff;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        .fas {
            margin-right: 10px;
        }
    }
    &-body {
        padding: 15px;
        &-title {
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 15px;
        }
        &-controller {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }
}

.link {
    color: var(--orange-color);
}

strong {
    font-weight: 600;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--orange-color);
    -webkit-box-shadow: 0 0 0px 1000px #F5FEFF9E inset;
    transition: background-color 5000s ease-in-out 0s;
    background: var(--input);
    border: 1px solid var(--input-border);
    padding: 10px 14px;
}

#app input:focus-visible,
#app textarea:focus-visible {
    outline-color: var(--orange-color);
}

textarea {
    resize: none;
}

@media (min-width: 0px) and (max-width: 768px) {
    .burger-menu {
        display: block;
    }
    .main-nav {
        display: none;
    }
}

@media (min-width: 769px) {
    .burger-menu {
        display: none;
    }
    .main-nav {
        display: block;
    }
}