:root {
    --background-color: #fff;
    --grey-color: #8f8f8f;
    --green-color: #5d876f;
    --green-hover: #4f725e;
    --blue-color: #b5d5e0;
    --pale-color: #cec9b5;
    --purple-color: #3B1658;
    --orange-color: #ff7865;
    --orange-hover: #d8632c;
    --input: #FFF;
    --input-border: #CBD6E2;
    --transition-duration: .4s;
    --border-radius: 3px;
}