:root {
    --background-color: #fff;
    --grey-color: #C3C3C3;
    --blue-color: #26368D;
    --purple-color: #3B1658;
    --orange-color: #FE7433;
    --orange-hover: #d8632c;
    --input: #F5FEFF9E;
    --input-border: #CBD6E2;
    --transition-duration: .4s;
    --border-radius: 3px;
}